
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body  {
  /*  background-color: #8f8f8f;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10h10v10H0V10zM10 0h10v10H10V0z' fill='%23408297' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");*/
   /* background-color: #90b5bf;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23cfaf6a' fill-opacity='0.79'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");*/
    background-color: #64a3d9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cg fill='%231c8695' fill-opacity='0'%3E%3Cpath d='M0 0h80v80H0V0zm20 20v40h40V20H20zm20 35a15 15 0 1 1 0-30 15 15 0 0 1 0 30z' opacity='.5'%3E%3C/path%3E%3Cpath d='M15 15h50l-5 5H20v40l-5 5V15zm0 50h50V15L80 0v80H0l15-15zm32.07-32.07l3.54-3.54A15 15 0 0 1 29.4 50.6l3.53-3.53a10 10 0 1 0 14.14-14.14zM32.93 47.07a10 10 0 1 1 14.14-14.14L32.93 47.07z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
    font-family: Verdana;
    color: #fff;
}

.container{

    width: 90%;
    margin: auto;

}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand{
    width: 50px;
}

/* Navbar Left */
.nav-main ul{
    display: flex;
}

.nav-main ul li{
    padding: 10px;
}

.nav-main ul li a{
    padding: 2px;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid #5ce7d4;

}

.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}


/* Showcase*/

.hr{
    margin: 10px 0;
}


.showcase{
    background: url("./../imagenes/pexels-gustavo-fring-3983399.jpg") no-repeat center center/cover;
    width: 100%;
    height: 550px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.showcase h2{
    color: white;
    font-size: 60px;
    font-family: Roboto;
}
.btn{
    background: #7be5b1;
    cursor: pointer;
    color: white;
    font-color: white;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 18px;
    border: 4px solid #fff;
}

.btn:hover{
    opacity: .9;
}

.showcase h2,
.showcase p{
    margin-bottom: 10px;
}

.showcase p{
    font-size: 25px;
}

/* news cards*/

.news-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 10px 0;
}

.news-cards img{
    width: 100%;
    height: 180px;
}

.news-cards h3{
    font-size: 20px;
    margin: 10px 0;
    color: black;

}
.news-cards p{
    color: black;
}

.news-cards a{
    padding: 10px 0;
    color: #f8c1c1;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
}

.news-cards a:hover{
    text-decoration: underline;
}
.cards p{
    font-size: 22px;
    color: #003452;

}

.cards h3{
    font-size: 30px;
    color: white;

}

/* cards banner*/


.cards-banner{
    background: url("./../imagenes/Banner11.jpg") no-repeat center center/cover ;
    background-size:1260px 500px;
    width: 100%;
    height: 450px;
    margin-bottom: 40px;
}

.content{
    width: 40%;
    padding: 90px 0 0 30px;
}

.cards-banner p,
.cards-banner h2{
    color: black;
    margin: 10px 0 20px 0

}

.cards-banner h2{
    font-size: 45px;
    font-family: "Sitka Banner";

}
.cards-banner p{
    font-size: 30px;
    font-family: "Sitka Banner";
    font-weight: bold;
}

.cards-banner2{
    background: url("./../imagenes/Banner2.jpg") no-repeat center center/cover ;
    background-size:1260px 500px;
    width: 100%;
    height: 450px;
    margin-bottom: 40px;
}

.cards-banner2 p,
.cards-banner2 h2{
    color: black;
    margin: 10px 0 20px 0

}

.cards-banner2 h2{
    font-size: 45px;
    font-family: "Sitka Banner";
    font-weight: bold;

}
.cards-banner2 p{
    font-size: 35px;
    font-family: "Sitka Banner";
    font-weight: bold;
}
/* social*/

.facebook-icon{
    width: 50px;
}

.instagram-icon{
    width: 50px;
}

.twiter-icon{
    width: 50px;
}

.social{
    margin:50px;
}

.social p{
    color: black;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a{
    margin: 0 30px;
}

.links a i{
    font-size: 3rem;
}

/* footer*/

.footer-link{
    background: #6d859f;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}

.footer-container{
    background: #003452;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul{
    margin: 0 auto;
    color: white;
}

.footer-container ul li{
line-height: 2.8;
color: white;
}
.footer-container a{
    color: white;
}

.footer-container h3{
    color: white;
}
.footer{
    background: #003452;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}